[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
watchdog = "*"
unittest = "*"

[packages]
flask = "*"
pylint = "*"
flask-restful = "*"
python-dotenv = "*"
flask-restplus = "*"
coverage = "*"

[requires]
python_version = "3.7"
